{% block header %}
  <div class="header">
    <div class="header_logo">
      <a href="{% url 'main:index' %}"><span>logo</span></a>
    </div>
    <div class="header_menu_item">
      <!-- <a href="{% url 'main:about' %}">About</a>
      <a href="{% url 'contact:contact' %}">Contact</a> -->
      <a href="{% url 'order:order' %}">New Order</a>
      <a href="{% url 'performer:group' %}">Catalog</a>
    </div>
    <div class="header_menu_user">
      <!-- <a href="{% url 'main:about' %}" class="header_menu_user_button">Your Order</a> -->
      <a href="{% url 'contact:contact' %}" class="button">Your Profile</a>
    </div>
  </div>
{% endblock %}
