{% extends 'main/wrapper.html' %}
{% block title %}Find for best{% endblock %}
{% block content %}
<div class="main_info">
  <h2>Masters in the Vacvouver</h2>
  <h3>{{ num_performer}} specialists work in your region, {{ num_performer}} more are ready to help remotely</h3>
</div>
<div class="catalog">
  <div class="handyman catalog_title">
    <h3><a href="{% url 'performer:group' %}">Handyman{{num_specialization}} {{num_review}}</a></h3>
    <a href=#>Air Conditioning</a>
    <a href=#>Air Ducts</a>
    <a href=#>Boilers</a>
    <a href=#>Drainage</a>
    <a href=#>Electrical</a>
    <a href=#>Fireplaces</a>
    <a href=#>Furnaces</a>
    <a href=#>Heating</a>
    <a href=#>Plumbing</a>
    <a href=#>Sewage</a>
    <a href="{% url 'performer:performer' %}"><b>All services</b></a>
  </div>
  <div class="teachers catalog_title">
    <h3>Teachers</h3>
    <a href=#>Air Conditioning</a>
    <a href=#>Air Ducts</a>
    <a href=#>Boilers</a>
    <a href=#>Drainage</a>
    <a href=#>Electrical</a>
    <a href=#>Fireplaces</a>
    <a href=#>Furnaces</a>
    <a href=#>Heating</a>
    <a href=#>Plumbing</a>
    <a href=#>Sewage</a>
  </div>
  <div class="beauty catalog_title">
    <h3>Beauty</h3>
    <a href=#>Air Conditioning</a>
    <a href=#>Air Ducts</a>
    <a href=#>Boilers</a>
    <a href=#>Drainage</a>
    <a href=#>Electrical</a>
    <a href=#>Fireplaces</a>
    <a href=#>Furnaces</a>
    <a href=#>Heating</a>
    <a href=#>Plumbing</a>
    <a href=#>Sewage</a>
  </div>
</div>
{% endblock %}
