@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

body {
  font-family: 'Archivo', sans-serif;
}

header {
  width: 100%;
  background-image: url(https://cs5.pikabu.ru/images/previews_comm/2015-02_6/14251235534107.jpg);
  background-blend-mode: multiply;
  background-size: auto;
  position: relative;
  color: #fff;
  background-color: #800080;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

header a {
  color: #fff;
}

.navbar_menu {
  display: grid;
}

.navbar_menu_user {
  justify-self: end;
}

.navbar_menu_item {
  font-size: 1.5em;
  margin-right: 3em;
}

.jumbotron_top, .jumbotron_center, .jumbotron_bottom {
  background-image: url(https://cs5.pikabu.ru/images/previews_comm/2015-02_6/14251235534107.jpg);
  background-blend-mode: multiply;
  background-size: auto;
  position: relative;
  color: #fff;
  text-align: center;
  background-color: green;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

footer {
  width: 100%;
  height: 200px;
  position: relative;
  color: #c8cbd2;
  background-image: url(https://cs5.pikabu.ru/images/previews_comm/2015-02_6/14251235534107.jpg);
  background-blend-mode: multiply;
  background-color: #1e1f23;
  background-size: auto;
}

footer a {
  color: #c8cbd2;
}

.copyright {
  padding: 1em;
}
